{% extends 'toDoList/master.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card w-75 shadow p-4">
          <h3 class="mb-4 text-center">Lista de Tareas</h3>
            <div class="mb-3">
                <label for="tarea" class="form-label">Título de la Tarea</label>
                <input type="text" class="form-control" id="tarea" name="tarea" placeholder="Escribe el título de la tarea" required>
            </div>
            <div class="d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}